

:root{
    --black: #000;
    --white: #fff;
    --salmon: #f4a460;
    --cyan: #62b3b3;
    --text-white: #fff;
    --text-black: #000;
    --text-darkCyan: #162929;
    --text-salmondark: #4b301e
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue Machina';

}
.video-div {
    clip-path:circle(var(--clip) at 50% 50%);
}
*::selection{
    background-color: #f4a460;
}
body[theme= "dark"] {
    background-color: var(--black);
}
body[theme= "dark"] .section{
    color: var(--text-white);
}
body[theme= "salmon"] {
    background-color: var(--salmon);
}
body[theme= "salmon"] .section{
    color: var(--text-salmondark);
}
body[theme= "cyan"] {
    background-color: var(--cyan);
}
body[theme= "cyan"] .section{
    color: var(--text-darkCyan);
}
body[theme= "white"] {
    background-color: var(--white);
}
body[theme= "white"] .section{
    color: var(--text-black);
}
